*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('../bild2.jpg') no-repeat center center/cover;
    overflow: visible;
    font-family: sans-serif;

}

.page-title{
    
    text-align: center;
    border-bottom: 1px solid #d25f0d;
    padding-bottom: 20px;
    font-weight: 200;
    text-transform: uppercase;
}
.page-p{
    margin: 20px auto;
}

.slideOutMenu{
    position: fixed;
    width: 180px;
    height: 100%;
    top: 0;
    right: -200px ;
    padding: 20px;
    background-color: #d25f0d;
    transition: all 0.3s ease-in-out;   
} 
ul{
        list-style: none;
    }

    li{
        color: 10px solid rgba(215, 56, 143, 0.6);
        border-bottom: 1px solid rgba(255,255,255, 0.4);
        padding:  20px 0;
        
    }

    li:last-child{
        border-bottom: none;
    }

    li:hover{
        color:rgba(255,255,255, 1);
        cursor: pointer;
    }

  .menu-icon{
        position: absolute;
        color: #fff;
        top: 18px;
        right: 30px;
        font-size: 24px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }
    #menu-toggle{
        display:none ;
    }

    #menu-toggle:checked ~ .slideOutMenu {
        right: 0;
    }
    #menu-toggle:checked + .menu-icon {
        right: 210px
    }

  

    .login{

            position: absolute;
            top: 18px;
            right: 260px;
            font-size: 14px;
    }
    .skapaKonto{

        position: absolute;
        top: 400px;
        right: 700px;
        font-size: 14px;
}
    button{
        border: none;
        padding: 12px 30px;
        background-color: #d25f0d;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }

    button::before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #fff;
        border-left: 2px solid #d25f0d;
        transition: all 0.25s;
    }
    button::after{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #d25f0d;
        transition: all 0.25s;
    }
    button:hover::before,
    button:hover::after{
        height: 100%;
        width: 100%;

    }
    #showcase{
        height: 100vh;

    }
    #showcase .showcase-content{
        color: #fff;
        text-align: center;
        padding-top: 170px;
    }
    #showcase .showcase-content h1{
        font-size: 40px;
        line-height: 1.2em;
       
    }
    #showcase .showcase-content p{
       padding-bottom: 20px;
       line-height: 1.7em;
    }
    .logo{
        position: relative;
        font-size: 2rem;
        padding: 12px 30px;
        left: -400px;
        color: #fff;
        font-family: "Indie Flower", cursive;
        
    }
    .text{
        color: #fff;
    }
    .tecken{
        color: #d25f0d;
        font-size: 2.5rem;
    }

   footer{
    position: absolute;
    bottom: -420px;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 10px;
    color:#fff;
   }
   .footer-content{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    text-align: center;
   }

   .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
   }
   .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size:  14px ;

   }
   .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
   }
   .socials li{
    margin: 0 10px;
   }
    .socials a{
    text-decoration: none;
    color: #fff;
}

    .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{

    color: #d25f0d;
}
.footer-bottom{
    background: #d25f0d;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-bottom{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}