* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
  body {
    background: #D25F0D;
    background: -webkit-linear-gradient(top left, #D25F0D, #EFAD7E);
    background: -moz-linear-gradient(top left, #D25F0D, #EFAD7E);
    background: linear-gradient(to bottom right, #D25F0D, #EFAD7E);
    overflow-x: hidden;
  }

:root{
  --background-color: whitesmoke;
}

  
.slideOutMenu{
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0;
  right: -230px ;
  padding: 20px;
  background-color:#d25f0d;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
ul{
  list-style: none;
}

li{
  color:black ;
  border-bottom: 2px solid rgba(255,255,255, 0.4);
  padding:  20px 0;

}

li:last-child{
  border-bottom: none;
}

li:hover{
  color:rgba(255,255,255, 1);
  cursor: pointer;
}
a{
  text-decoration: none;
  color:black ;
}
a:hover{
  color:rgba(255,255,255, 1);
  cursor: pointer;
}

.menu-icon{
  position: absolute;
  color: #fff;
  top: 18px;
  right: 30px;
  font-size: 24px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#menu-toggle{
  display:none ;
}

#menu-toggle:checked ~ .slideOutMenu {
  right: 0;
}
#menu-toggle:checked + .menu-icon {
  right: 230px
}
  section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  h1{
    padding: 40px;
    font-family: sans-serif;
    font-weight: 600;
  }
  p{
    text-align: center;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    
  }
  .container {
    width: 70%;
    height: 60%;
    max-width: 500px;
    padding: 20px;
    background-color: var(--background-color);
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 600;
    border: 2px solid white;
    box-shadow: 0 0 10px 0 #d25f0d;

  }

  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
    background-color: whitesmoke;
    resize: vertical;

  }

  textarea {
    min-height: 288px;
  }

  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: #222;
    background-color: #d25f0d;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
  
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: #EFAD7E;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(69, 205, 35);
    color: #fff;
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(238, 63, 10);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  
  