*{
    font-family: sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.container{
    padding: 20px;
}
SELECT{
    padding: 10px;
}

*{
    align-items: center;
    text-align: center;
 
   

}

textArea{
    text-align: left;
    width: 100px;
    height: 50px;
    resize: none;
    
}

.button{
    border: none;
    padding: 12px 30px;
    background-color: #d25f0d;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.button::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: -5px;
    left: -5px;
    border-top: 2px solid #fff;
    border-left: 2px solid #d25f0d;
    transition: all 0.25s;
}
.button::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #d25f0d;
    transition: all 0.25s;
}
.button:hover::before,
.button:hover::after{
    height: 100%;
    width: 100%;

}

#stegEtt{
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
    height: 100%;
    overflow: auto;
}
#stegTvå{
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
    height: 100%;
    overflow: auto;
}
#stegTre{
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
    height: 100%;
    overflow: auto;
}

.nextStep{
    position: relative;
    bottom: -100px;
    border: 3px;
    font-size: 20px;
}


.kön{
    height: 30px;
    width: 30px;
}
.textKön [id=pronomen]{
    font-size: 25px;

}

textarea{
    width: 75%;
    height: 300px;
}


fieldset {
    border: 0;
}

.checkbox input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    accent-color: #d25f0d;
}

.checkbox input:checked {
    accent-color: #d25f0d;
    border: 2px solid black;
}

.checkbox:hover{
    box-shadow: 0 0 10px #000;
    border: 2px solid #000;
    transform: scale(1.05);
}

.back{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 10px;

}

input[type = "range"]{
    margin-top: 15px;
    accent-color: #d25f0d;
}

input:focus {
    background-color: lightblue;
}

.kön{
    accent-color: #D25F0D;
    vertical-align: middle;
}

.textKön{
    font-size:18px;
    vertical-align: middle;
}


.first{
    padding: 10px;
    margin: 5px;
}

.nextStep{
    top: 20px
}

.checkbox{
    vertical-align: middle;
}

.material-symbols-outlined{
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
.grid-item {
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}


#continerBild {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    place-items:  center;
}

.foto {
    position: relative;
    background-color: orange;
    width: 200px;
    height: 250px;
    border: 10px solid;
    border-radius: 15%;
    text-align: center;

}

.fotoButton{
    background-color: orange;
    border: none;
    position: absolute;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 75px;
    cursor: pointer;
}

.fotoButton:hover{
    transform: scale(1.2);
}

.fileFoto input{
    overflow: hidden;
}

.file-upload {
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 73px;
}

.file-upload input {
    overflow: hidden;
    width: 0;
}

#webbContiner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#webcam{
    border: 10px solid black;
    border-radius: 20%;
}

#taBild, #taOmBild, #check, #close, #visa-lösenord{
    background: none !important;/* Sätter bakgrundsfärgen till blå */
    border: none;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}

#check{
    left: 20%;
    top: 90%;
}

#close{
    left: 80%;
    top: 90%;
}
#taOmBild, #taBild{
    left: 50%;
    top: 90%;
}




#countdown {
    font-size: 70px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}


.grid-item.dark-bg {
    background-color: #d25f0d;
    box-shadow: 0 0 10px #000;
    border: 2px solid #000;
    transform: scale(1.05);
}

#sliderLabel{
    font-size: 20px;
}

.sliderValue{
    margin-top: 0;
    font-size: 20px;
    position: relative;

}



.flash-screen {
    animation: flash 3s linear;
}

@keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

.material-symbols-outlined:hover{
    transform: scale(1.5);
}

.material-symbols-outlined{
    transform: scale(1.2);
}

.deleteButton{
    background: none !important;/* Sätter bakgrundsfärgen till blå */
    border: none;
    position: absolute;
    left: 90%;
    top: 7%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.disabled {
    pointer-events: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 0;
}


#counter {
    position: absolute;
    bottom: -70%;
    right: 13%;
    font-size: 15px;
    color: gray;
}

#myTextarea {
    font-size: 20px;
    border:2px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: none;
    background: whitesmoke;
}

#visa-lösenord{
    position: fixed;
    left: 27%;
    top: 44%;

}




