.container{
    padding: 20px;
}
SELECT{
    padding: 10px;
}

*{
    align-items: center;
    text-align: center;
 
   

}

#textArea{
    text-align: left;
    
}

button{
    border: none;
    padding: 12px 30px;
    background-color: #d25f0d;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
button::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: -5px;
    left: -5px;
    border-top: 2px solid #fff;
    border-left: 2px solid #d25f0d;
    transition: all 0.25s;
}
button::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #d25f0d;
    transition: all 0.25s;
}
button:hover::before,
button:hover::after{
    height: 100%;
    width: 100%;

}

#stegEtt{
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
}
#stegTvå{
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
}
#stegTre{
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
}

.nextStep{
    position: relative;
    bottom: -100px;
    border: 3px;
    font-size: 20px;
}


.kön{
    height: 30px;
    width: 30px;
}
.textKön ,[id=textIdentifiera],[id=pronomen]{
    font-size: 40px;
}

textarea{
    width: 75%;
    height: 300px;
}

.bir[type="text"]:invalid{
    border: 2px solid red;
}



