:root {
  font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

}
body{
    height: 100vh;
    width: 100%;
    background: #D25F0D;
    background: -webkit-linear-gradient(top left, #D25F0D, #EFAD7E);
    background: -moz-linear-gradient(top left, #D25F0D, #EFAD7E);
    background: linear-gradient(to bottom right, #D25F0D, #EFAD7E);
 

 
}
.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: white;
    padding: 0 8%;
    
  }
  .logo{
    font-size: 1.5rem;
    margin-left: 10px;
   
    color: black;
    font-family: "Indie Flower", cursive;
    
}

.text{
    color: black;
    margin-right: 10px;
}
.tecken{
    color: #d25f0d;
    font-size: 1.8rem;
}
  
.min-profil{
    position: relative;
    width: fit-content;
}

.profil-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    background-color: #EFAD7E;
    cursor: pointer;
    border: 3px solid #D25F0D;
    margin-left: 1050px;
   
    
  }

  .profil-btn:hover {
    background-color: #d25f0d;
  
  }
  .profil-img {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: url(../img/person1.jpg);
    background-size: cover;
  }
  
  .profil-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
   
  }
  .dropdown-ul{
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    max-height: 0;
    overflow: hidden;
 


  }

  .dropdown-ul.active {
    max-height: 500px;
  }
  .dropdown-li{
    padding: 1rem 0rem 1rem 1rem;
    background-color:white;
   
   
  }
  .dropdown-li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
  }
  .dropdown-li a i {
    margin-right: 0.8rem;
    font-size: 1.5rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: black;
    color: #D25F0D;
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
  }
  
  .dropdown-li:hover {
    padding-left: 1.5rem;
    background-color:#D25F0D;
  }




img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}


.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}
.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name {
    font-weight: 600;
}

