#reset-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#reset-form label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    display: block;
}

#reset-form input[type="email"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#reset-form button[type="submit"] {
    background-color: #d25f0d;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Responsive CSS */
@media (max-width: 600px) {
    #reset-form {
        width: 90%;
    }

    #reset-form label {
        font-size: 1em;
    }
}
