*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: whitesmoke;

}

body{
    overflow-x: hidden
}

.dark-mode{
    background: black;
    color: white;
}


.page-title{
 
    text-align: center;
    border-bottom: 1px solid #d25f0d;
    float: left;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 450px;
}
.page-p{
    margin: 75px auto;
    margin-left: 450px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}


.slideOutMenu{
    position: fixed;
    width: 180px;
    height: 100%;
    top: 0;
    right: -200px ;
    padding: 20px;
    background-color: #d25f0d;
    transition: all 0.3s ease-in-out;   
} 
ul{
        list-style: none;
    }

    li{
        color: 50px solid white;
        border-bottom: 2px solid rgba(255,255,255, 0.4);
        padding:  20px 0;
        
    }


    li:hover{
        color:rgba(255,255,255, 1);
        cursor: pointer;
    }

  .menu-icon{
        position: absolute;
        color: #fff;
        top: 18px;
        right: 30px;
        font-size: 24px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    #menu-toggle{
        display:none ;
    }

    #menu-toggle:checked ~ .slideOutMenu {
        right: 0;
    }
    #menu-toggle:checked + .menu-icon {
        right: 210px
    }

    .login-out{
        position: absolute;
            top: 18px;
            right: 260px;
            font-size: 14px;
    }
    .skapaKonto{
        top:55;
        left: 22%;
        font-size: 14px;

}
    button{
        border: none;
        padding: 12px 30px;
        background-color: #d25f0d;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }

    button::before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #fff;
        border-left: 2px solid #d25f0d;
        transition: all 0.25s;
    }
    button::after{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #d25f0d;
        transition: all 0.25s;
    }
    button:hover::before,
    button:hover::after{
        height: 100%;
        width: 100%;

    }
    #showcase{
        background: url('../img/bild2.jpg') no-repeat center center/cover;
        height: 100vh

    }
    #showcase .showcase-content{
        
        color: #fff;
        text-align: center;
        padding-top: 170px;
        position: absolute;
        top: 45%;
        left: 38%;
        transform: translate(-50%, -50%);
    }
   

    #showcase .showcase-content h1{
        font-size: 40px;
        line-height: 1.2em;
       
    }
    #showcase .showcase-content p{
       padding-bottom: 20px;
       line-height: 1.7em;
    }
    .logo{
        font-size: 2rem;
        margin-left: 100px;
        padding: 12px 30px;
        color: #fff;
        font-family: 'Aclonica', serif;
        
    }
    .text{
        color: #fff;
    }
    .tecken{
        color: #d25f0d;
        font-size: 2.5rem;
    }

    .text-center{
        text-align: center;
    }
    .m-heading{
        font-size: 2rem;
        margin-bottom: 0.75rem;
        line-height: 1.1;
    }
    .py-1 {
        padding: 2rem 0; 
    }
   
    .container1{
        max-width: 1100px;
        margin: auto;
        padding: 0 2rem;
        overflow: hidden;
    }
    /*Section 1*/
    #what .items{
        display: flex;
        padding: 1rem;
    }
    #what .items .item{
        flex: 1;
        text-align: center;
        padding: 1rem;
    }
    #what .items .item i{
        background: #d25f0d;
        padding: 1.5rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .text-primary{
        color: #d25f0d;
    }




    #cards{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-color);
        
    }
    #cards  .m-heading{
        display: block;
        position: absolute;
        top:1350px;

        font-size: 2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      
        
    }
    
    .card{
        display: grid;
        margin: 25px;
        grid-template-columns: 300px;
        grid-template-rows: 240px 160px 80px;
        grid-template-areas: "image" "text" "stats";

        font-family: sans-serif;
        border-radius: 18px;
        background: #d25f0d;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        text-align: center;
        transition: 0.5s ease;
        cursor: pointer;
    }

    .card-image{
        grid-area: image;
        background: url("../img/person5.jpg");
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size:¨cover;
    }
    .card-image1{
        grid-area: image;
        background: url("../img/person7.jpg");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size:¨cover;
    }
    .card-image2{
        grid-area: image;
        background: url("../img/person6.jpg");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size:cover;
    }
    .card-image3{
        grid-area: image;
        background: url("../img/person9.jpg");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size:¨cover;
    }
    .card-text{
        grid-area: text;
        margin: 25px;

    }
    .card-text .date{
        color: white;
        font-size: 13px ;
        text-transform:uppercase
    }

    .card-text p{
        margin: 25px;
        color: white;
        font-size: 15px;
        font-weight: 300;
    }
    .card-text h2{
        margin-top: 0px;
        font-size: 28px;
    }
    .card-stats{
        grid-area: stats;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: #111;
    }

    .card-stats .stat{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1px;
        color: white;
    }

 
    .card-stats .value{
        font-size: 22px;
        font-weight: 500;
    }

    .card-stats .border{
        border-left:1px solid #d25f0d;
        border-right: 1px solid #d25f0d;
    }

    .card:hover{
        transform: scale(1.2);
        box-shadow: 5px 5px 15px #111;
    }


    #images{
        display: flex;
        justify-content:start;
        
    }

   /* #images h2{
        text-transform: uppercase;
        font-size: 30px;
        font-family: sans-serif;
        
    }*/

    #images .knapp{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d25f0d;
        height: 70px;
        width: 350px;
        border: 1px solid #111;
        color: #111;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 10px;
        transition: 0.6s;
        overflow: hidden;
        left: 60%;
        top: 200px;
        

    }
    #images .knapp::before,
    #images .knapp::after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0.6;
        transition: 0.6s;
        filter: blur(20px);
    }

    #images .knapp::before{
        width: 60px;
        background:rgba(255, 255, 255, 0.7);
        transform: translateX(-120px) skew(-45deg);
    }

    #images .knapp::after{
        width: 30px;
        background:rgba(255, 255, 255, 0.7);
        transform: translateX(-120px) skew(-45deg);
    }
    #images .knapp:hover::before,
    #images .knapp:hover::after{
        transform: translateX(400px) skew(-45deg);
    }
    
    #images .knapp:hover{
       color: white;
        background: #CF4151;
    }
    #images p{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 350px;
        letter-spacing: 2px;
        left: 38%;
        top: 300px;
        
    }


    .container2{
        position: absolute;
        width: 600px;
        height: 600px;
        border: 2px solid #111;
        border-radius: 50%;
        margin-top: 10%;
        margin-left: 5%;
    }
    .container2 .icon{
        position: relative;
        left: -50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .container2 .icon .images{
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transition: 0.5s;
        border: 1px solid white;
        box-shadow:0 0 0 4px #111,
        0 0 0 6px #d25f0d;
        transform: rotate(calc(360deg/8 * var(--i)));
        transform-origin: 340px;
        z-index: 100;
        overflow: hidden;
    }

 


    .container2 .icon .images img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        transform: rotate(calc(-360deg/8 * var(--i)));
        transition: 0.5s;
        
    }

    .animation{
        position:absolute;
        inset: 0;
        overflow: hidden;
    }

    .animation::before{
        content: "";
        position: absolute;
        inset: 60px;
        border: 4px solid transparent;
        border-left: 4px solid #111;
        border-right: 4px solid #d25f0d;
        border-radius: 50%;
        animation: anime 5s linear infinite;
        z-index: 1;
        pointer-events: none;
    }
    @keyframes anime{
        0%
        {
            rotate: 0deg;
        }
        100%
        {
            rotate: 360deg;
        }
    }

    .animation::after{
        content: "";
        position: absolute;
        inset: 120px;
        border: 4px solid transparent;
        border-left: 4px solid #111;
        border-right: 4px solid #d25f0d;
        border-radius: 50%;
        animation: anime 2.5s linear infinite;
        z-index: 1;
        pointer-events: none;
    }
    @keyframes anime{
        0%
        {
            rotate: 0deg;
        }
        100%
        {
            rotate: 360deg;
        }
    }

  .animation .icon-inside i{
    margin-left: 10%;
    padding: 200px;

  }




   footer{
    position: absolute;
    top: 380%;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 10px;
    color:#fff;
   }

   .footer-content{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    text-align: center;
   }

   .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
   }

   .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size:  14px ;
   }

   .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
   }

   .socials li{
    margin: 0 10px;
   }

    .socials a{
    text-decoration: none;
    color: #fff;
}

    .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{

    color: #d25f0d;
}
.footer-bottom{
    background: #d25f0d;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-bottom{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}



iframe {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 6mm inset #d25f0d;
    background: var(--background-color);

}

#modalBodyBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;

}

#modal-body{
    width: 1000px;
    height: 700px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.close-button{
    font-size: 10px;
    position: relative;
    left: 890px;
    top: 80px;
    z-index: 1;
}






