body {
    height: 110vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #D25F0D;
    background: -webkit-linear-gradient(top left, #D25F0D, #EFAD7E);
    background: -moz-linear-gradient(top left, #D25F0D, #EFAD7E);
    background: linear-gradient(to bottom right, #D25F0D, #EFAD7E);
    overflow: hidden;
}

/*   cards  */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vh;
    height: 75vh;
    background: rgb(255, 255, 255);
    margin: auto;
    border-radius: 18px;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    overflow: hidden;
    text-align: center;
}

.user-name h2{
    color: black;
    font-weight: 2;

}

.button-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -50px;
    width: 100%;
    height: 100%;
}

button {
    width: 40vh;
    height: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    border: black;
}
 .material-symbols-outlined {
     font-size: 60px !important;
     font-variation-settings:
             'FILL' 0,
             'wght' 700,
             'GRAD' 200,
             'opsz' 70
 }

#closeIcon{
    color: #cc0000;
}

#checkIcon{
    color: green;
}

img {
    width: 45vh;
    height: 40vh;
}


.slide-out-left {
    animation: slide-out-left 0.5s forwards;
}

.slide-out-right {
    animation: slide-out-right 0.5s forwards;
}

@keyframes slide-out-left {
    from { transform: translate(0, -40%); }
    to { transform: translate(-350%, -40%); }
}


@keyframes slide-out-right {
    from { transform: translate(0, -40%); }
    to { transform: translate(250%, -40%); }
}

/*   Meny  */

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: white;
    padding: 0 8%;

}
.logo{
    font-size: 1.5rem;
    margin-left: 10px;

    color: black;
    font-family: "Indie Flower", cursive;

}

.text{
    color: black;
    margin-right: 10px;
}
.tecken{
    color: #d25f0d;
    font-size: 1.8rem;
}

.min-profil{
    position: relative;
    width: fit-content;
}

.profil-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    background-color: #EFAD7E;
    cursor: pointer;
    border: 3px solid #D25F0D;
    margin-left: 1050px;


}

.profil-btn:hover {
    background-color: #d25f0d;

}
.profil-img {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: url(../img/person1.jpg);
    background-size: cover;
}

.profil-btn span {
    margin: 0 0.5rem;
    margin-right: 0;

}
.dropdown-ul{
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    max-height: 0;
    overflow: hidden;



}

.dropdown-ul.active {
    max-height: 500px;
}
.dropdown-li{
    padding: 1rem 0rem 1rem 1rem;
    background-color:white;


}
.dropdown-li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}
.dropdown-li a i {
    margin-right: 0.8rem;
    font-size: 1.5rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: black;
    color: #D25F0D;
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
}

.dropdown-li:hover {
    padding-left: 1.5rem;
    background-color:#D25F0D;
}




img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}









